.root {
    //outline: 1px solid pink;
}

.head {
    top: 0;
    position: sticky;
    z-index: 1;
}

.body {
    padding-bottom: 1px;
    overflow: hidden;
    //scroll-snap-type: x mandatory;
    //-webkit-overflow-scrolling: touch;
}

.bodyWrapper {
    //-webkit-overflow-scrolling: touch;
}

.wrapper {
    position: relative;
    //margin: 10em auto 30em;
    //max-width: 960px;
    //overscroll-behavior: contain;
}

[data-col-id="quantity"] button,
[data-col-id="price"] button,
[data-col-id="change"] button,
[data-col-id="sold"] button {
    justify-content: flex-end;
}

[data-col-id="quota"] button,
[data-col-id="info"] button {
    justify-content: center;
}

.footer {
    bottom: 0;
    position: sticky;
    z-index: 1;
    //height: 20px;
}

.footerWrapper {
    overflow-y: hidden;
    //-webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    background: pink;
}

.scrollBar {
    background: violet;
    height: 1px;
}

