.root {
    position: relative;
    touch-action: none;
    //transition: .15s;
}

.dragTrigger {
    position: absolute;
    min-height: 20px;
    top: 0;
    bottom: 50%;
    left: 0;
    width: 20px;
    margin-top: 2px;
    z-index: 100;
    //overflow: hidden;
    opacity: 0;
    visibility: hidden;
    //outline: 1px solid red;
    cursor: move;
    transition: visibility 0s 0s, opacity 0.18s 0s;
    touch-action: none; // prevents from scrolling while dragging on touch devices

    &::after {
        content: '';
        display: block;
        width: 20px;
        height: 25px;
        //background-image: url('../../assets/icons/dots-square.svg');
        //background-repeat: no-repeat;
    }

    .root:hover & {
        //outline: 1px solid red;
        opacity: 1;
        visibility: visible;
    }
}

.targetOverlay {
    position: fixed;
    //background: pink;
    top: 0;
    bottom: 0;
    width: inherit;
    cursor: move;
    z-index: 100;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .05);
    pointer-events: none;
    z-index: 1;
}

.activeLeft,
.activeRight {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: -1px;
        bottom: 0;
        width: 2px;
        background: red;
    }
}

.activeRight {

    &::after {
        right: -1px;
    }
}

.activeLeft {

    &::after {
        left: -1px;
    }
}

.dragged {
    & div {
        pointer-events: none;
    }
}

.separator {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0s, opacity 0.18s 0s;

    &::after {
        content: '';
        position: absolute;
        top: 10px;
        bottom: 10px;
        right: 0;
        left: -2px;
        margin: auto;
        width: 2px;
        background: #ccc;
        z-index: 10;
        pointer-events: none;
    }

    .root:hover & {
        opacity: 1;
        visibility: visible;
    }
}


:global(.dragging) {

    .dragTrigger {
        opacity: 0 !important;
        visibility: hidden !important;
    }

    :global(.drag-group) {
        pointer-events: auto;
    }
}

:global(.drag-active) {

    & .dragTrigger,
    & .separator{
        opacity: 1 !important;
        visibility: visible !important;
    }
}


